:root {
	background-color: #161616;
	color: #fff;
	font-family: verdana;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

.content-header-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	margin: auto;
}

header h2 {
	font-size: 2em;
}

ul {
	display: flex;
	list-style: none;
}

li {
	margin: 0 0.3em;
}

nav ul li a {
	color: #fff;
	border: 1px solid #0AA7E9;
	border-radius: 4px;
	text-decoration: none;
	padding: 0.3em;
	transition: 0.5s;
}

nav ul li a:hover {
	background-color: #000;
	color: #0AA7E9;
}

.h2 {
	height: 70vh;
	background-image: url("../images/bg-header.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	display: flex;
	flex: 1;
}

h2 {
	display: flex;
	width: 100vw;
	height: 70vh;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .8);
}

.event-content h3, .art h3, .formulario h3, h3 {
	text-align: center;
	padding: 1.5em 0;
	border-bottom: 1px solid #0AA7E9;
	width: 40%;
	margin: auto;
	font-size: 2em;
}

.target-main {
	width: 80vw;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.target {
	width: 25%;
	text-align: center;
	margin: 5em 0;
}

.btn-event {
	color: #fff;
	border: 1px solid #0AA7E9;
	background-color: #161616;
	font-size: 0.7em;
	border-radius: 4px;
	text-decoration: none;
	padding: 0.7em;
	transition: 0.5s;
}

.btn-event:hover {
	background-color: #000;
	color: #0AA7E9;
}

.parallax {
	height: 80vh;
	background-image: url(../images/parallax.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 20% 30%;
	background-size: cover;
}

.parallax p {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	background-color: rgba(0, 0, 0, .8);
}

.article-block {
	width: 80vw;
	margin: auto;
	padding-top: 1.5em;
}

.art {
	margin-top: 1.0em;
}

.formulario {
	padding: 1.5em 0;
	width: 80vw;
	margin: auto;
}

form {
	padding: 1.5em 0;
	text-align: center;
}

input, textarea {
	width: 15em;
	height: 1.5em;
	border: 2px solid #0AA7E9;
	border-radius: 4px;
	background-color: #161616;
	color: #fff
}

footer {
	background-color: #0AA7E9

}

footer p {
	color: #161616;
	padding: 1.3em;
	text-align: center;
}

footer p {
	margin: 0;
}

/* RESPONSIVE*/

@media screen and (max-width: 780px) {
	h2, h3, p, .art h3{
		text-align: center;
		
	}
	.content-header-top {
		flex-direction: column;
	}

	.event-content {
		margin-bottom: 3em;
	}

	.target {
		width: 100%;
		margin: 1em 0;
	}

	.target-main {
		display: flex;
		flex-direction: column;
	}
}